[submodule "packages/image-actions"]
	path = packages/image-actions
	url = https://github.com/calibreapp/image-actions.git
[submodule "packages/terraform-github-actions"]
	path = packages/terraform-github-actions
	url = https://github.com/hashicorp/terraform-github-actions
[submodule "packages/chromatic/module"]
	path = packages/chromatic/module
	url = https://github.com/chromaui/action.git
