[submodule "packages/get-jira-issue/packages/image-actions"]
	path = packages/get-jira-issue/packages/image-actions
	url = https://github.com/calibreapp/image-actions.git
[submodule "packages/image-actions"]
	path = packages/image-actions
	url = https://github.com/calibreapp/image-actions.git
